{% extends 'base.html.twig' %}

{% block body %}

    <div>
        <a href="{{ path('teacher') }}"> << Back </a>
    </div>

    <h2> create answer </h2>

    <div>
        {{ form_start(addAnswerForm) }}
        {{ form_widget(addAnswerForm) }}
        {{ form_end(addAnswerForm) }}
    </div>

    <div>
        <table>
            <thead>
            <tr>
                <th>Answer</th>
                <th>Correctness</th>
            </tr>
            </thead>
            <tbody>
            {% for answer in answers %}
                <tr>
                    <td>{{ answer.name }} </td>
                    <td> {% if answer.correct %} correct {% else %} incorrect {% endif %} </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div>
        <a href="{{ path('logout') }}">Logout</a>
    </div>


{% endblock %}