{% extends 'base.html.twig' %}

{% block body %}


    <ul>
        <li><a class="active" href="">Tecaher</a></li>
        <li><a href="{{ path('createQuestion') }}"> Questions </a></li>
        <li><a href="{{ path('createExam') }}"> Exams </a> </li>
        <li><a href="">Results</a></li>
        <li style="float:right"><a href="{{ path('logout') }}">Log out</a></li>

    </ul>

    <div>
        <a href="{{ path('teacher') }}"> << Back </a>
    </div>


    <h2> create question </h2>

    <div>
        {{ form_start(addQuestionForm) }}
        {{ form_widget(addQuestionForm) }}
        {{ form_end(addQuestionForm) }}
    </div>

    <div>
        <table id="customers">
            <thead>
            <tr>
                <th>Question</th>
                <th>Field</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for question in questions %}
                <tr>
                    <td>{{ question.name }} </td>
                    <td>{{ question.field.name }} </td>
                    <td><a href="{{ path('createAnswer', {'qId': question.id}) }}">Create answers</a> </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}