{% extends 'base.html.twig' %}

{% block body %}
    <title>{% block title %} Exam | Exam App {% endblock %}</title>


    <ul>
        <li><a class="active" href="{{ path('teacher') }}">Teacher</a></li>
        <li><a href="{{ path('createQuestion') }}"> Questions </a></li>
        <li><a href="{{ path('createExam') }}"> Exams </a> </li>
        <li><a href="{{ path('teacherResult') }}">Results</a></li>
        <li style="float:right"><a href="{{ path('logout') }}">Log out</a></li>
    </ul>


    <h2> create exams </h2>

    <div>
        {{ form_start(addExamForm) }}
        {{ form_widget(addExamForm) }}
        {{ form_end(addExamForm) }}
    </div>

    <br>

    <div>
        <table id="customers">
            <thead>
            <tr>
                <th>Field</th>
                <th>Description</th>
                <th> Details </th>
                <!-- <th> Random questions </th>  -->
            </tr>
            </thead>
            <tbody>
            {% for exam in exams %}
                <tr>
                    <td>{{ exam.field.name  }} </td>
                    <td>{{ exam.name }} </td>
                    <td>
                        {% if exam.questions|length %}
                            <a href="{{ path ('viewQuestion', {'eId': exam.id}) }}"> view selected questions</a>
                        {% else %}
                            <a href="{{ path('examQuestion', {'eId': exam.id}) }}">select questions</a>
                            |
                            <a href="{{ path('randomExam', {'eId': exam.id}) }}">random</a>

                         {#   <form action="{{ path('randomSelection', {'eId': exam.id}) }}" method="post">
                                <input type="number" name="number" id="number" min="1" max="{{ questions|length }}">
                                <button type="submit">questions</button>
                            </form>
                           #}
                        {% endif %}
                    </td>
                  <!--  <td>

                    </td>
                 -->
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>



{% endblock %}