{% extends 'base.html.twig' %}

{% block body %}

    <div>
        <a href="{{ path('teacher') }}"> << Back </a>
    </div>


    <h2> create question </h2>

    <div>
        {{ form_start(addQuestionForm) }}
        {{ form_widget(addQuestionForm) }}
        {{ form_end(addQuestionForm) }}
    </div>

    <div>
        <table>
            <thead>
            <tr>
                <th>Question</th>
                <th>Field</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for question in questions %}
                <tr>
                    <td>{{ question.name }} </td>
                    <td>{{ question.field.name }} </td>
                    <td><a href="{{ path('createAnswer', {'qId': question.id}) }}">Create answers</a> </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div>
        <a href="{{ path('logout') }}">Logout</a>
    </div>


{% endblock %}