{% extends 'base.html.twig' %}

{% block body %}

    <ul>
        <li><a class="active" href="">Tecaher</a></li>
        <li><a href="{{ path('createQuestion') }}"> Questions </a></li>
        <li><a href="{{ path('createExam') }}"> Exams </a> </li>
        <li><a href="">Results</a></li>
        <li style="float:right"><a href="{{ path('logout') }}">Log out</a></li>

    </ul>

    <div>
        <a href="{{ path('teacher') }}"> << Back </a>
    </div>

    <h2> create answer </h2>

    <div>
        {{ form_start(addAnswerForm) }}
        {{ form_widget(addAnswerForm) }}
        {{ form_end(addAnswerForm) }}
    </div>

    <div>
        <table id="customers">
            <thead>
            <tr>
                <th>Answer</th>
                <th>Correctness</th>
            </tr>
            </thead>
            <tbody>
            {% for answer in answers %}
                <tr>
                    <td>{{ answer.name }} </td>
                    <td> {% if answer.correct %} correct {% else %} incorrect {% endif %} </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div>
        <a href="{{ path('logout') }}">Logout</a>
    </div>


{% endblock %}