{% extends 'base.html.twig' %}

{% block body %}

    <ul>
        <li><a class="active" href="{{ path('teacher') }}">Teacher</a></li>
        <li><a href="{{ path('createQuestion') }}"> Questions </a></li>
        <li><a href="{{ path('createExam') }}"> Exams </a> </li>
        <li><a href="{{ path('teacherResult') }}">Results</a></li>
        <li style="float:right"><a href="{{ path('logout') }}">Log out</a></li>
    </ul>


<h2> Exam created </h2>


{% endblock %}