{% extends 'base.html.twig' %}

{% block body %}

    <ul>
        <li><a href="{{ path('student') }}"> Student </a> </li>
        <li style="float:right"><a href="{{ path('logout') }}">Log out</a></li>
    </ul>

    <h2> available exams </h2>
    <div>
        <table id="customers">
            <thead>
            <tr>
                <th>Field</th>
                <th>Description</th>
                <th>Status </th>
                <!-- <th> Random questions </th>  -->
            </tr>
            </thead>
            <tbody>
            {% for exam in exams %}
                <tr>
                    <td>{{ exam.field.name  }} </td>
                    <td>{{ exam.name }} </td>
                    <td>
                        {% if exam.status == false %}
                            <a href="{{ path('takeExam', {'eId': exam.id}) }}">take exam</a>
                        {% else %}
                            {{ (exam.result*100) | round }} % <a href="{{ path('viewResult', {'eId': exam.id} ) }}"> <br> details</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            {% for test in everyExam %}
                <tr>
                    <td> {{ test.exam.field.name }}</td>
                    <td> {{ test.exam.name}}</td>
                    <td> {% if test.status == false %}
                            <a href="{{ path('takeExam', {'eId': test.exam.id}) }}">take exam</a>
                        {% else %}
                            {{ (test.result*100) | round }} % <a href="{{ path('viewResult', {'eId': test.exam.id} ) }}"> <br> details</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}



                </tr>

            </tbody>
        </table>
    </div>

{% endblock %}