{% extends 'base.html.twig' %}

{% block body %}
    <title>{% block title %} Student | Exam App {% endblock %}</title>

    <ul>
        <li><a href="{{ path('student') }}"> Student </a> </li>
        <li style="float:right"><a href="{{ path('logout') }}">Log out</a></li>
    </ul>

    <h2> Exams only for you</h2>
    <br>
    <div>
        <table id="customers">
            <thead>
            <tr>
                <th>Field</th>
                <th>Description</th>
                <th>Status </th>
                <!-- <th> Random questions </th>  -->
            </tr>
            </thead>
            <tbody>
            {% for exam in exams %}
                {% if exam.questions|length %}
                <tr>
                    <td>{{ exam.field.name  }} </td>
                    <td>{{ exam.name }} </td>
                    <td>
                        {% if exam.status == false %}
                            <a href="{{ path('takeExam', {'eId': exam.id}) }}">take exam</a>
                        {% else %}
                            {{ (exam.result*100) | round }} % <a href="{{ path('viewResult', {'eId': exam.id} ) }}"> <br> details</a>
                        {% endif %}
                </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
    <tbody>

    <h2> Exams for everyone</h2>
    <br>
    <div>
        <table id="customers">
            <thead>
            <tr>
                <th>Field</th>
                <th>Description</th>
                <th>Status </th>
                <!-- <th> Random questions </th>  -->
            </tr>
            </thead>
            <tbody>
            {% for test in tests %}
                {% if test.exam.questions|length %}
                <tr>
                    <td>{{ test.exam.field.name  }} </td>
                    <td>{{ test.exam.name }} </td>
                    <td>
                        {% if test.status == false %}
                            <a href="{{path('takeAllExam', {'tId': test.id}) }}"> take exam </a>
                        {% else %}
                            {{ (test.result*100) | round }} % <a href="{{ path('viewResult', {'eId': test.exam.id} ) }}"> <br> details</a>
                        {% endif %}
                </tr>
                {% endif %}
            {% endfor %}

            </tbody>
        </table>
    </div>

{% endblock %}