{% extends 'base.html.twig' %}

{% block body %}

    <h2> student page </h2>
    <h4> take exams </h4>

    <form method="post" action="{{ path("submitAnswers",{'eId': exam.id}) }}">
    <div>
        {% for question in questions %}
            {{ question.name }}
            <div>
                {% for answer in question.answers %}

                    <label>
                    <input type="radio" name="{{question.id}}"  value="{{answer.id}}" required>
                   {{ answer.name }}
                    </label>
                    <br>

                {% endfor %}
            </div>

            <br>

        {% endfor %}

        <input type="submit">

    </div>
    </form>



{% endblock %}


