{% extends 'base.html.twig' %}

{% block body %}

    <h2> {{ exam.field.name }} - {{ exam.name }} </h2>
    <form method="post" action="{{ path("submitAnswers",{'eId': exam.id}) }}">
    <div>
        {% for question in questions %}
          <h4> {{ question.name }} </h4>
            <div>
                {% for answer in question.answers %}

                    <label>
                    <input type="radio" name="{{question.id}}"  value="{{answer.id}}" required>
                   {{ answer.name }}
                    </label>
                    <br>

                {% endfor %}
            </div>

            <br>

        {% endfor %}

        <input type="submit">

    </div>
    </form>



{% endblock %}


