{% extends 'base.html.twig' %}

{% block body %}

    <ul>
        <li><a class="active" href="{{ path('teacher') }}">Teacher</a></li>
        <li><a href="{{ path('createQuestion') }}"> Questions </a></li>
        <li><a href="{{ path('createExam') }}"> Exams </a> </li>
        <li><a href="{{ path('teacherResult') }}">Results</a></li>
        <li style="float:right"><a href="{{ path('logout') }}">Log out</a></li>

    </ul>

    <br>

    <div class="container">

        <h2> Teacher page &nbsp &nbsp &nbsp &nbsp</h2>
        <p>
            You can create <i>n</i> number of questions with <i>m</i> number of answers. <br>
            Questions are classified into fields.<br>
            You can create exams from specific fields.<br>
            Exams can be available for one specific student or every student.<br>
            Results of exam are displayed in overall list.<br>

        </p>


    </div>

{% endblock %}