{% extends 'base.html.twig' %}

{% block body %}

    <ul>
        <li><a class="active" href="{{ path('teacher') }}">Teacher</a></li>
        <li><a href="{{ path('createQuestion') }}"> Questions </a></li>
        <li><a href="{{ path('createExam') }}"> Exams </a> </li>
        <li><a href="{{ path('teacherResult') }}">Results</a></li>
        <li style="float:right"><a href="{{ path('logout') }}">Log out</a></li>
    </ul>

    <h2> Results</h2>
    <div>
        <table id="customers">
            <thead>
            <tr>
                <th>Field</th>
                <th>Exam</th>
                <th>Student</th>
                <th> Score </th>
                <!-- <th> Random questions </th>  -->
            </tr>
            </thead>
            <tbody>
            {% for exam in exams %}
                {% if exam.student == null %}
                    <tr>
                        <td> {{ exam.field.name }}</td>
                        <td>{{ exam.name  }} </td>
                        <td>
                            exam for all students
                        </td>
                        <td>
                            <a href="{{ path ('detailedResults', {'eId': exam.id}) }}"> results </a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td> {{ exam.field.name }}</td>
                        <td>{{ exam.name  }} </td>
                        <td>
                            {{ exam.student.username}}
                        </td>
                        <td>
                            {% if exam.status == false %}
                                not completed
                            {% else %}
                                {{ (exam.result*100) | round }} %
                                <a href="{{ path('viewResult', {'eId': exam.id} ) }}"> details</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}

            </tbody>
        </table>
    </div>


{% endblock %}


